<div class="container">
  <div class="row">
    <div class="col-sm col-xs">
      <h1>Rock, Paper & Scissors Game</h1>
    </div>
  </div>
  <br>
  <h2 style="text-align: center">Please select an option</h2>
  <div class="row">
    <div class="col-sm-9 col-xs">
      <div class="d-md-inline-flex">
        <div class="card card-player" *ngFor="let option of gameOptions" (click)="onSelect(option.name)"
          [ngClass]="{'card-selected': selected === option.name ? true:null}">
          <i class="far fa-hand-{{option.name}}"></i>
          <div class="card-block">
            <h5 class="card-title">{{option.name | uppercase}}</h5>
            <p class="card-text">Strong against {{option.strength}}</p>
            <p class="card-text">Weak against {{option.weakness}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs" *ngIf="machineOption">
      <div class="d-md-inline-flex">
        <div class="card card-machine">
          <i class="far fa-hand-{{machineOption}}"></i>
          <div class="card-block">
            <h5 class="card-title">{{machineOption | uppercase}}</h5>
            <p class="card-text">OPPONENT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm col-xs btn-group" role="group">
      <button type="button" class="btn w-50 btn-primary" [disabled]="!played" (click)="onPlay()">PLAY</button>
      <button type="submit" class="btn w-50 btn-danger" (click)="onReset()">RESET</button>
    </div>
  </div>
  <hr>
  <div *ngIf="prevResult.length >0">
    <div class="row">
      <div class="col-sm col-xs">
        <h2>You {{result | titlecase}} <i
            [ngClass]="{'win':'far fa-smile','lose':'far fa-frown','tied':'far fa-meh'}[result]"></i>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-3"><strong>You: {{win}}</strong></div>
      <div class="col-sm-6 col-xs-3"><strong>Machine: {{lose}}</strong></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-xs table-responsive">
        <h2>Your Results</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Option</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of prevResult">
              <td>{{history.selected}}</td>
              <td>{{history.result}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>